[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/plugins/start/vim-glsl"]
	path = pack/plugins/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "pack/plugins/start/moon"]
	path = pack/plugins/start/moon
	url = https://github.com/francisjsun/moon.git
[submodule "pack/plugins/start/python-mode"]
	path = pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/plugins/start/vim-table-mode"]
	path = pack/plugins/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
